@page
@model Razor.Web.Pages.TagHelperLesson.IndexModel


<a  asp-page="/Article/Index" asp-route-id="2" asp-route-title="AspNet Core">Go to Article</a>

<img src="/images/car.jpg"/>
<ThumbNailImageTagHelper  url="/images/car.jpg" dimension="250x250" is-default="true"></ThumbNailImageTagHelper>

