@page
@model WebAndAPI.Razor.Pages.Identity.SignInModel
@{
}




<form method="post">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Üye Giriş</h2>
            
            <div asp-validation-summary="ModelOnly"></div>

           
                <div class="mb-3">
                    <label asp-for="Model.Email" class="form-label"></label>
                    <input  class="form-control"  asp-for="Model.Email">
                    <span class="text-danger" asp-validation-for="Model.Email"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Model.Password" class="form-label"></label>
                    <input  class="form-control" asp-for="Model.Password" >
                    <span class="text-danger" asp-validation-for="Model.Password"></span>
                </div>
                <div class="mb-3 form-check">
                    <input class="form-check-input"  asp-for="Model.RememberMe">
                    <label class="form-check-label" asp-for="Model.RememberMe"></label>
                </div>
                <button type="submit" class="btn btn-primary">Giriş</button>
            

        </div>

    </div>
</form>



