@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CreateProduct";
}

@model ProductCreateWrapperModel
<h1>CreateProduct</h1>

<form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
    
    
    <div class="mb-3">
        <label asp-for="ProductViewModel.ImageFile" class="form-label"></label>
        <input class="form-control"  asp-for="ProductViewModel.ImageFile">
    </div>
    

    <div class="mb-3">
        <label asp-for="CategoryViewModel.CategorySelectList"  class="form-label"></label>
        @*   <input class="form-control" asp-for="CategoryViewModel.Name" placeholder="kategori ismi"> *@
        
        <select class="form-control" asp-for="CategoryViewModel.CategoryId" asp-items="Model.CategoryViewModel.CategorySelectList">
            <option value="">Kategori seçiniz</option>
        </select>
        <span class="text-danger" asp-validation-for="CategoryViewModel.CategoryId"></span>
    </div>
    

    <div class="mb-3">
        <label asp-for="ProductViewModel.Name"  class="form-label"></label>
        <input class="form-control" asp-for="ProductViewModel.Name" placeholder="ürün ismi">
        <span class="text-danger" asp-validation-for="ProductViewModel.Name"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="ProductViewModel.Price" class="form-label"></label>
        <input class="form-control" asp-for="ProductViewModel.Price" placeholder="ürün fiyat">
        <span class="text-danger" asp-validation-for="ProductViewModel.Price"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="ProductViewModel.Description" class="form-label"></label>
        <input class="form-control" asp-for="ProductViewModel.Description" placeholder="ürün açıklama">
    </div>
    
    <div class="mb-3">
        <label asp-for="ProductViewModel.StockCount" class="form-label"></label>
        <input class="form-control" asp-for="ProductViewModel.StockCount" placeholder="ürün stok adet">
        <span class="text-danger" asp-validation-for="ProductViewModel.StockCount"></span>
    </div>
    
    <div class="form-check">
        <input class="form-check-input"  asp-for="ProductViewModel.IsPublish">
        <label class="form-check-label" asp-for="ProductViewModel.IsPublish">
          
        </label>
    </div>
    
    <div>
        
        @foreach (var isPublisherDuration in Model.ProductViewModel.IsPublisherDurationList)
        {

            <div class="form-check">
                <input asp-for="ProductViewModel.IsPublisherDurationId"  class="form-check-input" type="radio" value="@isPublisherDuration.Value">
                <label class="form-check-label" for="flexRadioDefault2">
                    @isPublisherDuration.Text
                </label>
            </div>
        }
        
        <span class="text-danger" asp-validation-for="ProductViewModel.IsPublisherDurationId"></span>
    </div>
    
    
    
    <div class="mb-3">
        
        <label class="form-label" asp-for="ProductViewModel.PublishExpire">

        </label>
        <input class="form-control" asp-for="ProductViewModel.PublishExpire">


        <span class="text-danger" asp-validation-for="ProductViewModel.PublishExpire"></span>
    </div>
    
    
    
    
    
    
    
    
    

    <div>
       <button class="btn btn-primary" type="submit">Kaydet</button>
    </div>
</form>

