@page
@model WebAndAPI.Razor.Pages.AjaxTableModel
@{
}
@section Scripts
{
    <script>
        

        $(document).ready(function () {


            loadProductTable("kitaplar");
            $("#select-category").val("kitaplar");

            $("#select-category").change(function () {


                let categoryName = $(this).val();

                loadProductTable(categoryName);

            })


            function loadProductTable(categoryName) {

                $.ajax({
                    url: `https://localhost:7024/api/AjaxTable/${categoryName}`,
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);

                        let html = '';
                        $.each(response.data, function (index, item) {

                            html += `<tr>
                                            <td>${item.id}</td>
                                            <td>${item.name}</td>
                                            <td>${item.price}</td>
                                            <td>${item.stock}</td>
                                          </tr>`;
                        });
                        $('#table-product tbody').html(html);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

          

    
        })






    </script>
    
    
    

}

<select id="select-category">
    <option value="kalemler">kalemler</option>
    <option value="kitaplar">kitaplar</option>
    <option value="silgiler">silgiler</option>
</select>

<table id="table-product" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    
    

    </tbody>


</table>