
@{
    
    ViewData["Title"] = "Home Page";
}
@model List<ProductViewModel>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Asp.Net Core5</h1>
<h1>@DateTime.Now.ToShortDateString()</h1>

<partial name="_Example_Partial_View" />


<vc:product-list></vc:product-list>


<partial name="~/Views/Products/PartialViews/_Product_List_Partial_View.cshtml" model="Model" />



