@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>





<vc:product-list e-product-list-show-type="Light" is-paging="true"></vc:product-list>
<vc:product-list e-product-list-show-type="Dark" is-paging="false"></vc:product-list>