<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
   
@* @Html.Partial("_Header_Partial_View")
@await Html.PartialAsync("_Header_Partial_View") *@

@* <partial name="~/Views/PartialViews/_Footer_Partial_View.cshtml" /> *@

   


<partial name="_Header_Partial_View"/>

<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<partial name="PartialViews/_Footer_Partial_View.cshtml" />



@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
